.item-sprite { 
  background-image: url('./item-sprite.png'); 
  background-repeat: no-repeat; 
  display: inline-block; 
  width: 36px; 
  height: 36px; 
  background-size: 1029px 956px;
  
}

.item-1001 { background-position: -289px -73px; }
.item-1004 { background-position: -289px -110px; }
.item-1006 { background-position: -289px -147px; }
.item-1011 { background-position: -289px -185px; }
.item-1018 { background-position: -289px -222px; }
.item-1026 { background-position: -0px -289px; }
.item-1027 { background-position: -37px -289px; }
.item-1028 { background-position: -74px -289px; }
.item-1029 { background-position: -111px -289px; }
.item-1031 { background-position: -149px -289px; }
.item-1033 { background-position: -186px -289px; }
.item-1035 { background-position: -223px -289px; }
.item-1036 { background-position: -260px -289px; }
.item-1037 { background-position: -297px -289px; }
.item-1038 { background-position: -362px -0px; }
.item-1039 { background-position: -362px -37px; }
.item-1040 { background-position: -362px -74px; }
.item-1042 { background-position: -362px -111px; }
.item-1043 { background-position: -362px -149px; }
.item-1052 { background-position: -362px -186px; }
.item-1053 { background-position: -362px -223px; }
.item-1054 { background-position: -362px -260px; }
.item-1055 { background-position: -0px -326px; }
.item-1056 { background-position: -37px -326px; }
.item-1057 { background-position: -74px -326px; }
.item-1058 { background-position: -111px -326px; }
.item-1082 { background-position: -149px -326px; }
.item-1083 { background-position: -186px -326px; }
.item-1101 { background-position: -223px -326px; }
.item-1102 { background-position: -260px -326px; }
.item-1103 { background-position: -297px -326px; }
.item-1104 { background-position: -334px -326px; }
.item-1105 { background-position: -399px -0px; }
.item-1106 { background-position: -399px -37px; }
.item-1107 { background-position: -399px -74px; }
.item-126697 { background-position: -399px -111px; }
.item-1500 { background-position: -399px -149px; }
.item-1501 { background-position: -399px -186px; }
.item-1502 { background-position: -399px -223px; }
.item-1503 { background-position: -399px -260px; }
.item-1504 { background-position: -399px -297px; }
.item-1506 { background-position: -0px -363px; }
.item-1507 { background-position: -37px -363px; }
.item-1508 { background-position: -74px -363px; }
.item-1509 { background-position: -111px -363px; }
.item-1510 { background-position: -149px -363px; }
.item-1511 { background-position: -186px -363px; }
.item-1512 { background-position: -223px -363px; }
.item-1515 { background-position: -260px -363px; }
.item-1516 { background-position: -297px -363px; }
.item-1517 { background-position: -334px -363px; }
.item-1518 { background-position: -371px -363px; }
.item-1519 { background-position: -437px -0px; }
.item-1520 { background-position: -437px -37px; }
.item-1521 { background-position: -437px -74px; }
.item-1522 { background-position: -437px -111px; }
.item-1523 { background-position: -437px -149px; }
.item-2003 { background-position: -437px -186px; }
.item-2010 { background-position: -437px -223px; }
.item-2015 { background-position: -437px -260px; }
.item-2019 { background-position: -437px -297px; }
.item-2020 { background-position: -437px -334px; }
.item-2021 { background-position: -0px -401px; }
.item-2022 { background-position: -37px -401px; }
.item-2031 { background-position: -74px -401px; }
.item-2033 { background-position: -111px -401px; }
.item-2049 { background-position: -149px -401px; }
.item-2050 { background-position: -186px -401px; }
.item-2051 { background-position: -223px -401px; }
.item-2052 { background-position: -260px -401px; }
.item-2055 { background-position: -297px -401px; }
.item-2056 { background-position: -334px -401px; }
.item-2065 { background-position: -371px -401px; }
.item-2138 { background-position: -408px -401px; }
.item-2139 { background-position: -474px -0px; }
.item-2140 { background-position: -474px -37px; }
.item-2141 { background-position: -474px -74px; }
.item-2142 { background-position: -474px -111px; }
.item-2143 { background-position: -474px -149px; }
.item-2144 { background-position: -474px -186px; }
.item-2145 { background-position: -474px -223px; }
.item-2146 { background-position: -474px -260px; }
.item-2150 { background-position: -474px -297px; }
.item-2151 { background-position: -474px -334px; }
.item-2152 { background-position: -474px -371px; }
.item-2161 { background-position: -0px -438px; }
.item-2162 { background-position: -37px -438px; }
.item-2163 { background-position: -74px -438px; }
.item-220000 { background-position: -111px -438px; }
.item-220001 { background-position: -149px -438px; }
.item-220002 { background-position: -186px -438px; }
.item-220003 { background-position: -223px -438px; }
.item-220004 { background-position: -260px -438px; }
.item-220005 { background-position: -297px -438px; }
.item-220006 { background-position: -334px -438px; }
.item-220007 { background-position: -371px -438px; }
.item-220008 { background-position: -408px -438px; }
.item-220009 { background-position: -446px -438px; }
.item-220010 { background-position: -511px -0px; }
.item-220011 { background-position: -511px -37px; }
.item-221011 { background-position: -511px -74px; }
.item-221026 { background-position: -511px -111px; }
.item-221031 { background-position: -511px -149px; }
.item-221038 { background-position: -511px -186px; }
.item-221043 { background-position: -511px -223px; }
.item-221053 { background-position: -511px -260px; }
.item-221057 { background-position: -511px -297px; }
.item-221058 { background-position: -511px -334px; }
.item-222022 { background-position: -511px -371px; }
.item-222051 { background-position: -511px -408px; }
.item-222065 { background-position: -0px -475px; }
.item-222141 { background-position: -37px -475px; }
.item-222502 { background-position: -74px -475px; }
.item-222503 { background-position: -111px -475px; }
.item-222504 { background-position: -149px -475px; }
.item-223001 { background-position: -186px -475px; }
.item-223002 { background-position: -223px -475px; }
.item-223003 { background-position: -260px -475px; }
.item-223004 { background-position: -297px -475px; }
.item-223005 { background-position: -334px -475px; }
.item-223006 { background-position: -371px -475px; }
.item-223009 { background-position: -408px -475px; }
.item-223011 { background-position: -446px -475px; }
.item-223020 { background-position: -483px -475px; }
.item-223026 { background-position: -548px -0px; }
.item-223031 { background-position: -548px -37px; }
.item-223032 { background-position: -548px -74px; }
.item-223033 { background-position: -548px -111px; }
.item-223036 { background-position: -548px -149px; }
.item-223039 { background-position: -548px -186px; }
.item-223040 { background-position: -548px -223px; }
.item-223042 { background-position: -548px -260px; }
.item-223046 { background-position: -548px -297px; }
.item-223047 { background-position: -548px -334px; }
.item-223050 { background-position: -548px -371px; }
.item-223053 { background-position: -548px -408px; }
.item-223057 { background-position: -548px -446px; }
.item-223065 { background-position: -0px -512px; }
.item-223067 { background-position: -37px -512px; }
.item-223068 { background-position: -74px -512px; }
.item-223071 { background-position: -111px -512px; }
.item-223072 { background-position: -149px -512px; }
.item-223073 { background-position: -186px -512px; }
.item-223074 { background-position: -223px -512px; }
.item-223075 { background-position: -260px -512px; }
.item-223078 { background-position: -297px -512px; }
.item-223084 { background-position: -334px -512px; }
.item-223085 { background-position: -371px -512px; }
.item-223087 { background-position: -408px -512px; }
.item-223089 { background-position: -446px -512px; }
.item-223091 { background-position: -483px -512px; }
.item-223094 { background-position: -520px -512px; }
.item-223095 { background-position: -585px -0px; }
.item-223100 { background-position: -585px -37px; }
.item-223102 { background-position: -585px -74px; }
.item-223105 { background-position: -585px -111px; }
.item-223107 { background-position: -585px -149px; }
.item-223109 { background-position: -585px -186px; }
.item-223110 { background-position: -585px -223px; }
.item-223111 { background-position: -585px -260px; }
.item-223112 { background-position: -585px -297px; }
.item-223115 { background-position: -585px -334px; }
.item-223116 { background-position: -585px -371px; }
.item-223118 { background-position: -585px -408px; }
.item-223119 { background-position: -585px -446px; }
.item-223121 { background-position: -585px -483px; }
.item-223124 { background-position: -0px -549px; }
.item-223135 { background-position: -37px -549px; }
.item-223137 { background-position: -74px -549px; }
.item-223139 { background-position: -111px -549px; }
.item-223142 { background-position: -149px -549px; }
.item-223143 { background-position: -186px -549px; }
.item-223146 { background-position: -223px -549px; }
.item-223152 { background-position: -260px -549px; }
.item-223153 { background-position: -297px -549px; }
.item-223156 { background-position: -334px -549px; }
.item-223157 { background-position: -371px -549px; }
.item-223158 { background-position: -408px -549px; }
.item-223161 { background-position: -446px -549px; }
.item-223165 { background-position: -483px -549px; }
.item-223172 { background-position: -520px -549px; }
.item-223177 { background-position: -557px -549px; }
.item-223181 { background-position: -622px -0px; }
.item-223184 { background-position: -622px -37px; }
.item-223185 { background-position: -622px -74px; }
.item-223190 { background-position: -622px -111px; }
.item-223193 { background-position: -622px -149px; }
.item-223222 { background-position: -622px -186px; }
.item-223302 { background-position: -622px -223px; }
.item-223504 { background-position: -622px -260px; }
.item-223508 { background-position: -622px -297px; }
.item-223742 { background-position: -622px -334px; }
.item-223748 { background-position: -622px -371px; }
.item-223814 { background-position: -622px -408px; }
.item-224004 { background-position: -622px -446px; }
.item-224005 { background-position: -622px -483px; }
.item-224401 { background-position: -622px -520px; }
.item-224403 { background-position: -0px -586px; }
.item-224628 { background-position: -37px -586px; }
.item-224629 { background-position: -74px -586px; }
.item-224633 { background-position: -111px -586px; }
.item-224636 { background-position: -149px -586px; }
.item-224637 { background-position: -186px -586px; }
.item-224644 { background-position: -223px -586px; }
.item-224645 { background-position: -260px -586px; }
.item-224646 { background-position: -297px -586px; }
.item-226035 { background-position: -334px -586px; }
.item-226333 { background-position: -371px -586px; }
.item-226609 { background-position: -408px -586px; }
.item-226610 { background-position: -446px -586px; }
.item-226616 { background-position: -483px -586px; }
.item-226617 { background-position: -520px -586px; }
.item-226620 { background-position: -557px -586px; }
.item-226621 { background-position: -594px -586px; }
.item-226630 { background-position: -659px -0px; }
.item-226631 { background-position: -659px -37px; }
.item-226632 { background-position: -659px -74px; }
.item-226653 { background-position: -659px -111px; }
.item-226655 { background-position: -659px -149px; }
.item-226656 { background-position: -659px -186px; }
.item-226657 { background-position: -659px -223px; }
.item-226662 { background-position: -659px -260px; }
.item-226664 { background-position: -659px -297px; }
.item-226665 { background-position: -659px -334px; }
.item-226667 { background-position: -659px -371px; }
.item-226671 { background-position: -659px -408px; }
.item-226672 { background-position: -659px -446px; }
.item-226673 { background-position: -659px -483px; }
.item-226675 { background-position: -659px -520px; }
.item-226676 { background-position: -659px -557px; }
.item-226691 { background-position: -0px -623px; }
.item-226692 { background-position: -37px -623px; }
.item-226693 { background-position: -74px -623px; }
.item-226694 { background-position: -111px -623px; }
.item-226695 { background-position: -149px -623px; }
.item-226696 { background-position: -186px -623px; }
.item-226697 { background-position: -223px -623px; }
.item-226698 { background-position: -260px -623px; }
.item-226699 { background-position: -297px -623px; }
.item-226701 { background-position: -334px -623px; }
.item-228001 { background-position: -371px -623px; }
.item-228002 { background-position: -408px -623px; }
.item-228003 { background-position: -446px -623px; }
.item-228004 { background-position: -483px -623px; }
.item-228005 { background-position: -520px -623px; }
.item-228006 { background-position: -557px -623px; }
.item-228008 { background-position: -594px -623px; }
.item-228020 { background-position: -631px -623px; }
.item-2403 { background-position: -696px -0px; }
.item-2420 { background-position: -696px -37px; }
.item-2421 { background-position: -696px -74px; }
.item-2422 { background-position: -696px -111px; }
.item-2501 { background-position: -696px -149px; }
.item-2502 { background-position: -696px -186px; }
.item-2503 { background-position: -696px -223px; }
.item-2504 { background-position: -696px -260px; }
.item-2508 { background-position: -696px -297px; }
.item-3001 { background-position: -696px -334px; }
.item-3002 { background-position: -696px -371px; }
.item-3003 { background-position: -696px -408px; }
.item-3004 { background-position: -696px -446px; }
.item-3005 { background-position: -696px -483px; }
.item-3006 { background-position: -696px -520px; }
.item-3009 { background-position: -696px -557px; }
.item-3010 { background-position: -696px -594px; }
.item-3011 { background-position: -0px -660px; }
.item-3012 { background-position: -37px -660px; }
.item-3013 { background-position: -74px -660px; }
.item-3020 { background-position: -111px -660px; }
.item-3023 { background-position: -149px -660px; }
.item-3024 { background-position: -186px -660px; }
.item-3026 { background-position: -223px -660px; }
.item-3031 { background-position: -260px -660px; }
.item-3032 { background-position: -297px -660px; }
.item-3033 { background-position: -334px -660px; }
.item-3035 { background-position: -371px -660px; }
.item-3036 { background-position: -408px -660px; }
.item-3039 { background-position: -446px -660px; }
.item-3040 { background-position: -483px -660px; }
.item-3041 { background-position: -520px -660px; }
.item-3042 { background-position: -557px -660px; }
.item-3044 { background-position: -594px -660px; }
.item-3046 { background-position: -631px -660px; }
.item-3047 { background-position: -668px -660px; }
.item-3050 { background-position: -734px -0px; }
.item-3051 { background-position: -734px -37px; }
.item-3053 { background-position: -734px -74px; }
.item-3057 { background-position: -734px -111px; }
.item-3065 { background-position: -734px -149px; }
.item-3066 { background-position: -734px -186px; }
.item-3067 { background-position: -734px -223px; }
.item-3068 { background-position: -734px -260px; }
.item-3070 { background-position: -734px -297px; }
.item-3071 { background-position: -734px -334px; }
.item-3072 { background-position: -734px -371px; }
.item-3073 { background-position: -734px -408px; }
.item-3074 { background-position: -734px -446px; }
.item-3075 { background-position: -734px -483px; }
.item-3076 { background-position: -734px -520px; }
.item-3077 { background-position: -734px -557px; }
.item-3078 { background-position: -734px -594px; }
.item-3082 { background-position: -734px -631px; }
.item-3083 { background-position: -0px -698px; }
.item-3084 { background-position: -37px -698px; }
.item-3085 { background-position: -74px -698px; }
.item-3086 { background-position: -111px -698px; }
.item-3087 { background-position: -149px -698px; }
.item-3089 { background-position: -186px -698px; }
.item-3091 { background-position: -223px -698px; }
.item-3094 { background-position: -260px -698px; }
.item-3095 { background-position: -297px -698px; }
.item-3100 { background-position: -334px -698px; }
.item-3102 { background-position: -371px -698px; }
.item-3105 { background-position: -408px -698px; }
.item-3107 { background-position: -446px -698px; }
.item-3108 { background-position: -483px -698px; }
.item-3109 { background-position: -520px -698px; }
.item-3110 { background-position: -557px -698px; }
.item-3111 { background-position: -594px -698px; }
.item-3112 { background-position: -631px -698px; }
.item-3113 { background-position: -668px -698px; }
.item-3114 { background-position: -705px -698px; }
.item-3115 { background-position: -771px -0px; }
.item-3116 { background-position: -771px -37px; }
.item-3117 { background-position: -771px -74px; }
.item-3118 { background-position: -771px -111px; }
.item-3119 { background-position: -771px -149px; }
.item-3121 { background-position: -771px -186px; }
.item-3123 { background-position: -771px -223px; }
.item-3124 { background-position: -771px -260px; }
.item-3128 { background-position: -771px -297px; }
.item-3131 { background-position: -771px -334px; }
.item-3133 { background-position: -771px -371px; }
.item-3134 { background-position: -771px -408px; }
.item-3135 { background-position: -771px -446px; }
.item-3137 { background-position: -771px -483px; }
.item-3139 { background-position: -771px -520px; }
.item-3140 { background-position: -771px -557px; }
.item-3142 { background-position: -771px -594px; }
.item-3143 { background-position: -771px -631px; }
.item-3144 { background-position: -771px -668px; }
.item-3145 { background-position: -0px -735px; }
.item-3146 { background-position: -37px -735px; }
.item-3147 { background-position: -74px -735px; }
.item-3152 { background-position: -111px -735px; }
.item-3153 { background-position: -149px -735px; }
.item-3155 { background-position: -186px -735px; }
.item-3156 { background-position: -223px -735px; }
.item-3157 { background-position: -260px -735px; }
.item-3158 { background-position: -297px -735px; }
.item-3161 { background-position: -334px -735px; }
.item-3165 { background-position: -371px -735px; }
.item-3170 { background-position: -408px -735px; }
.item-3171 { background-position: -446px -735px; }
.item-3172 { background-position: -483px -735px; }
.item-3173 { background-position: -520px -735px; }
.item-3174 { background-position: -557px -735px; }
.item-3175 { background-position: -594px -735px; }
.item-3176 { background-position: -631px -735px; }
.item-3177 { background-position: -668px -735px; }
.item-3179 { background-position: -705px -735px; }
.item-3181 { background-position: -743px -735px; }
.item-3184 { background-position: -808px -0px; }
.item-3190 { background-position: -808px -37px; }
.item-3193 { background-position: -808px -74px; }
.item-3211 { background-position: -808px -111px; }
.item-322065 { background-position: -808px -149px; }
.item-3222 { background-position: -808px -186px; }
.item-323002 { background-position: -808px -223px; }
.item-323003 { background-position: -808px -260px; }
.item-323004 { background-position: -808px -297px; }
.item-323040 { background-position: -808px -334px; }
.item-323042 { background-position: -808px -371px; }
.item-323050 { background-position: -808px -408px; }
.item-323070 { background-position: -808px -446px; }
.item-323075 { background-position: -808px -483px; }
.item-323107 { background-position: -808px -520px; }
.item-323109 { background-position: -808px -557px; }
.item-323110 { background-position: -808px -594px; }
.item-323119 { background-position: -808px -631px; }
.item-323121 { background-position: -808px -668px; }
.item-323190 { background-position: -808px -705px; }
.item-323222 { background-position: -0px -772px; }
.item-323504 { background-position: -37px -772px; }
.item-324005 { background-position: -74px -772px; }
.item-326616 { background-position: -111px -772px; }
.item-326617 { background-position: -149px -772px; }
.item-326620 { background-position: -186px -772px; }
.item-326621 { background-position: -223px -772px; }
.item-326657 { background-position: -260px -772px; }
.item-328020 { background-position: -297px -772px; }
.item-3302 { background-position: -334px -772px; }
.item-3330 { background-position: -0px -0px; }
.item-3340 { background-position: -371px -772px; }
.item-3348 { background-position: -408px -772px; }
.item-3349 { background-position: -446px -772px; }
.item-3363 { background-position: -483px -772px; }
.item-3364 { background-position: -520px -772px; }
.item-3398 { background-position: -557px -772px; }
.item-3399 { background-position: -594px -772px; }
.item-3400 { background-position: -631px -772px; }
.item-3430 { background-position: -668px -772px; }
.item-3504 { background-position: -705px -772px; }
.item-3508 { background-position: -743px -772px; }
.item-3513 { background-position: -780px -772px; }
.item-3599 { background-position: -845px -0px; }
.item-3600 { background-position: -845px -37px; }
.item-3742 { background-position: -845px -74px; }
.item-3748 { background-position: -845px -111px; }
.item-3801 { background-position: -845px -149px; }
.item-3802 { background-position: -845px -186px; }
.item-3803 { background-position: -845px -223px; }
.item-3814 { background-position: -845px -260px; }
.item-3850 { background-position: -845px -297px; }
.item-3851 { background-position: -845px -334px; }
.item-3853 { background-position: -845px -371px; }
.item-3854 { background-position: -845px -408px; }
.item-3855 { background-position: -845px -446px; }
.item-3857 { background-position: -845px -483px; }
.item-3858 { background-position: -845px -520px; }
.item-3859 { background-position: -845px -557px; }
.item-3860 { background-position: -845px -594px; }
.item-3862 { background-position: -845px -631px; }
.item-3863 { background-position: -845px -668px; }
.item-3864 { background-position: -845px -705px; }
.item-3865 { background-position: -845px -743px; }
.item-3866 { background-position: -0px -809px; }
.item-3867 { background-position: -37px -809px; }
.item-3869 { background-position: -74px -809px; }
.item-3870 { background-position: -111px -809px; }
.item-3871 { background-position: -149px -809px; }
.item-3876 { background-position: -186px -809px; }
.item-3877 { background-position: -223px -809px; }
.item-3901 { background-position: -260px -809px; }
.item-3902 { background-position: -297px -809px; }
.item-3903 { background-position: -334px -809px; }
.item-3916 { background-position: -371px -809px; }
.item-4003 { background-position: -408px -809px; }
.item-4004 { background-position: -446px -809px; }
.item-4005 { background-position: -483px -809px; }
.item-4010 { background-position: -520px -809px; }
.item-4011 { background-position: -557px -809px; }
.item-4012 { background-position: -594px -809px; }
.item-4013 { background-position: -631px -809px; }
.item-4014 { background-position: -668px -809px; }
.item-4015 { background-position: -705px -809px; }
.item-4016 { background-position: -743px -809px; }
.item-4017 { background-position: -780px -809px; }
.item-4401 { background-position: -817px -809px; }
.item-4402 { background-position: -882px -0px; }
.item-4403 { background-position: -882px -37px; }
.item-443054 { background-position: -882px -74px; }
.item-443055 { background-position: -882px -111px; }
.item-443056 { background-position: -882px -149px; }
.item-443058 { background-position: -882px -186px; }
.item-443059 { background-position: -882px -223px; }
.item-443060 { background-position: -882px -260px; }
.item-443061 { background-position: -882px -297px; }
.item-443062 { background-position: -882px -334px; }
.item-443063 { background-position: -882px -371px; }
.item-443064 { background-position: -882px -408px; }
.item-443069 { background-position: -882px -446px; }
.item-443079 { background-position: -882px -483px; }
.item-443080 { background-position: -882px -520px; }
.item-443081 { background-position: -882px -557px; }
.item-443083 { background-position: -882px -594px; }
.item-443090 { background-position: -882px -631px; }
.item-443193 { background-position: -882px -668px; }
.item-444636 { background-position: -882px -705px; }
.item-444637 { background-position: -882px -743px; }
.item-444644 { background-position: -882px -780px; }
.item-446632 { background-position: -0px -846px; }
.item-446656 { background-position: -37px -846px; }
.item-446667 { background-position: -74px -846px; }
.item-446671 { background-position: -111px -846px; }
.item-446691 { background-position: -149px -846px; }
.item-446693 { background-position: -186px -846px; }
.item-447100 { background-position: -223px -846px; }
.item-447101 { background-position: -289px -0px; }
.item-447102 { background-position: -260px -846px; }
.item-447103 { background-position: -297px -846px; }
.item-447104 { background-position: -334px -846px; }
.item-447105 { background-position: -371px -846px; }
.item-447106 { background-position: -408px -846px; }
.item-447107 { background-position: -446px -846px; }
.item-447108 { background-position: -483px -846px; }
.item-447109 { background-position: -520px -846px; }
.item-447110 { background-position: -557px -846px; }
.item-447111 { background-position: -594px -846px; }
.item-447112 { background-position: -631px -846px; }
.item-447113 { background-position: -668px -846px; }
.item-447114 { background-position: -705px -846px; }
.item-447115 { background-position: -743px -846px; }
.item-447116 { background-position: -780px -846px; }
.item-447118 { background-position: -817px -846px; }
.item-447119 { background-position: -854px -846px; }
.item-447120 { background-position: -919px -0px; }
.item-447121 { background-position: -919px -37px; }
.item-447122 { background-position: -919px -74px; }
.item-447123 { background-position: -919px -111px; }
.item-4628 { background-position: -919px -149px; }
.item-4629 { background-position: -919px -186px; }
.item-4630 { background-position: -919px -223px; }
.item-4632 { background-position: -919px -260px; }
.item-4633 { background-position: -919px -297px; }
.item-4635 { background-position: -919px -334px; }
.item-4636 { background-position: -919px -371px; }
.item-4637 { background-position: -919px -408px; }
.item-4638 { background-position: -919px -446px; }
.item-4641 { background-position: -919px -483px; }
.item-4642 { background-position: -919px -520px; }
.item-4643 { background-position: -919px -557px; }
.item-4644 { background-position: -919px -594px; }
.item-4645 { background-position: -919px -631px; }
.item-4646 { background-position: -919px -668px; }
.item-6029 { background-position: -919px -705px; }
.item-6035 { background-position: -919px -743px; }
.item-6333 { background-position: -919px -780px; }
.item-6609 { background-position: -919px -817px; }
.item-6610 { background-position: -0px -883px; }
.item-6616 { background-position: -37px -883px; }
.item-6617 { background-position: -74px -883px; }
.item-6620 { background-position: -111px -883px; }
.item-6621 { background-position: -149px -883px; }
.item-6630 { background-position: -186px -883px; }
.item-6631 { background-position: -223px -883px; }
.item-6632 { background-position: -260px -883px; }
.item-6653 { background-position: -297px -883px; }
.item-6655 { background-position: -334px -883px; }
.item-6656 { background-position: -371px -883px; }
.item-6657 { background-position: -408px -883px; }
.item-6660 { background-position: -446px -883px; }
.item-6662 { background-position: -483px -883px; }
.item-6664 { background-position: -520px -883px; }
.item-6665 { background-position: -557px -883px; }
.item-6667 { background-position: -594px -883px; }
.item-6670 { background-position: -631px -883px; }
.item-6671 { background-position: -668px -883px; }
.item-6672 { background-position: -705px -883px; }
.item-6673 { background-position: -743px -883px; }
.item-6675 { background-position: -780px -883px; }
.item-6676 { background-position: -817px -883px; }
.item-6677 { background-position: -854px -883px; }
.item-6690 { background-position: -891px -883px; }
.item-6691 { background-position: -956px -0px; }
.item-6692 { background-position: -956px -37px; }
.item-6693 { background-position: -956px -74px; }
.item-6694 { background-position: -956px -111px; }
.item-6695 { background-position: -956px -149px; }
.item-6696 { background-position: -956px -186px; }
.item-6697 { background-position: -956px -223px; }
.item-6698 { background-position: -956px -260px; }
.item-6699 { background-position: -956px -297px; }
.item-6700 { background-position: -956px -334px; }
.item-6701 { background-position: -956px -371px; }
.item-6702 { background-position: -956px -408px; }
.item-7050 { background-position: -956px -446px; }
.item-8001 { background-position: -956px -483px; }
.item-8010 { background-position: -956px -520px; }
.item-8020 { background-position: -956px -557px; }
.item-9168 { background-position: -956px -594px; }
.item-9171 { background-position: -956px -631px; }
.item-9172 { background-position: -956px -668px; }
.item-9173 { background-position: -956px -705px; }
.item-9174 { background-position: -956px -743px; }
.item-9175 { background-position: -956px -780px; }
.item-9176 { background-position: -956px -817px; }
.item-9177 { background-position: -956px -854px; }
.item-9178 { background-position: -0px -920px; }
.item-9179 { background-position: -37px -920px; }
.item-9180 { background-position: -74px -920px; }
.item-9181 { background-position: -111px -920px; }
.item-9183 { background-position: -149px -920px; }
.item-9184 { background-position: -186px -920px; }
.item-9185 { background-position: -223px -920px; }
.item-9187 { background-position: -260px -920px; }
.item-9188 { background-position: -297px -920px; }
.item-9189 { background-position: -334px -920px; }
.item-9190 { background-position: -371px -920px; }
.item-9192 { background-position: -408px -920px; }
.item-9193 { background-position: -446px -920px; }
.item-9271 { background-position: -483px -920px; }
.item-9272 { background-position: -520px -920px; }
.item-9273 { background-position: -557px -920px; }
.item-9274 { background-position: -594px -920px; }
.item-9275 { background-position: -631px -920px; }
.item-9276 { background-position: -668px -920px; }
.item-9277 { background-position: -705px -920px; }
.item-9278 { background-position: -743px -920px; }
.item-9279 { background-position: -780px -920px; }
.item-9280 { background-position: -817px -920px; }
.item-9281 { background-position: -854px -920px; }
.item-9283 { background-position: -891px -920px; }
.item-9284 { background-position: -928px -920px; }
.item-9285 { background-position: -993px -0px; }
.item-9287 { background-position: -993px -37px; }
.item-9288 { background-position: -993px -74px; }
.item-9289 { background-position: -993px -111px; }
.item-9290 { background-position: -993px -149px; }
.item-9292 { background-position: -993px -186px; }
.item-9293 { background-position: -993px -223px; }
.item-9300 { background-position: -993px -260px; }
.item-9301 { background-position: -993px -297px; }
.item-9302 { background-position: -993px -334px; }
.item-9303 { background-position: -993px -371px; }
.item-9304 { background-position: -993px -408px; }
.item-9305 { background-position: -993px -446px; }
.item-9306 { background-position: -993px -483px; }
.item-9307 { background-position: -993px -520px; }
.item-9308 { background-position: -993px -557px; }
.item-9400 { background-position: -993px -594px; }
.item-9401 { background-position: -993px -631px; }
.item-9402 { background-position: -993px -668px; }
.item-9403 { background-position: -993px -705px; }
.item-9404 { background-position: -993px -743px; }
.item-9405 { background-position: -993px -780px; }
.item-9406 { background-position: -993px -817px; }
.item-9407 { background-position: -993px -854px; }
.item-9408 { background-position: -993px -891px; }
