.spell-sprite { 
  background-image: url('./spell-sprite.png'); 
  background-repeat: no-repeat; 
  display: inline-block; 
  width: 36px; 
  height: 36px; 
  background-size: 184.5px 147.375px;
  border-radius: 4px;
}

.spell-1 { background-position: -0px -0px; }
.spell-11 { background-position: -37.125px -0px; }
.spell-12 { background-position: -0px -37.125px; }
.spell-13 { background-position: -37.125px -37.125px; }
.spell-14 { background-position: -74.25px -0px; }
.spell-21 { background-position: -74.25px -37.125px; }
.spell-2201 { background-position: -0px -74.25px; }
.spell-2202 { background-position: -37.125px -74.25px; }
.spell-3 { background-position: -74.25px -74.25px; }
.spell-30 { background-position: -111.375px -0px; }
.spell-31 { background-position: -111.375px -37.125px; }
.spell-32 { background-position: -111.375px -74.25px; }
.spell-39 { background-position: -0px -111.375px; }
.spell-4 { background-position: -37.125px -111.375px; }
.spell-54 { background-position: -74.25px -111.375px; }
.spell-55 { background-position: -111.375px -111.375px; }
.spell-6 { background-position: -148.5px -0px; }
.spell-7 { background-position: -148.5px -37.125px; }
